data/*
figures/*
launch.json
logs/*
__pycache__/
*.pyc
features/*
acrophase/*

chunks_out_fixed/*
data_250Hz/*
chunks_power/*
circ_power/*
circ_power_shuffled/*
figures/*
features/*
meta_joined/*
*.zip
*.DS_Store
CSVs/*
foundation_model_prep/*
log/*