data/*
figures/*
launch.json
logs/*
__pycache__/
*.pyc
features/*
acrophase/*

chunks_out_fixed/*
data_250Hz/*
chunks_power/*
circ_power/*
circ_power_shuffled/*
figures/*
features/*
meta_joined/*
*.zip
*.DS_Store
CSVs/*
foundation_model_prep/*
log/*

circadian_env
*.png
plot/*
logs1/*
logs2/*
jordan/BDI/*
data_250Hz_new/*
continuous_data/*
brpylib/*
TRD/logsNew/*
TRD/emu_env/*
TRD/TRD_env/*
Manuscript_Plots/*
*.csv
TRD/*.csv

